@charset "utf-8";
/* CSS Document */

body
{
	font-family: sans-serif;
}

#backform
{
	position: relative;
	right: 0px;
	top: 10px;	
}

#viewform
{
	position: absolute;
	left: 2em;
	top: 2em;
}

#printr
{
	position: absolute;
	right: 40px;
	top: 20px;
	border: 1px solid #000;
	margin: 10px;
}